%h1 Listing items

#no-more-tables
  %table.table.table-striped.sortable
    %thead
      %tr
        %th Name
        %th Description
        %th Action
    %tbody
      - @items.each do |item|
        %tr
          %td{:style => "data-title: 'Name'"}= item.name
          %td{:style => "data-title: 'Description'"}= item.description
          %td{:style => "data-title: 'Action'"}
            = link_to 'Show', item
            = link_to 'Edit', edit_item_path(item)
            = link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Item', new_item_path

