= form_for @unit do |f|
  - if @unit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@unit.errors.count, "error")} prohibited this unit from being saved:"
      %ul
        - @unit.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :item_type
    = collection_select :unit, :item_id, Item.all, :id, :name, :include_blank => true
  .field
    = f.label :aquisition_date
    = f.date_select :aquisition_date
  .field
    = f.label :aquisition_cost
    = f.text_field :aquisition_cost
  .field
    = f.label :brand
    = f.text_field :brand
  .field
    = f.label :serial_no
    = f.text_field :serial_no
  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :condition
    = f.text_field :condition
  .field
    = f.label :is_active
    = f.check_box :is_active
  .field
    = f.label :user
    = collection_select :unit, :user_id, User.all, :id, :email
  .field
    = f.label :location
    = collection_select :unit, :location_id, Location.all, :id, :name
  .field
    = f.label :barcode
    = image_tag @unit.barcode.url
  .field
    = f.label :avatar
    = f.file_field :avatar
  .actions
    = f.submit 'Save'

