%p#notice= raw notice
%h4
  = @unit.item.name
  = "(#{@unit.id})"
  = raw @unit.status_label

%p
  %b Aquisition date:
  = @unit.aquisition_date
%p
  %b Aquisition cost:
  = @unit.aquisition_cost
%p
  %b Brand:
  = @unit.brand
%p
  %b Serial no:
  = @unit.serial_no
%p
  %b Model:
  = @unit.model
%p
  %b Condition:
  = @unit.condition
%p
  %b Is active:
  = @unit.is_active
%p
  %b User:
  = @unit.user.email
%p
  %b Location:
  = @unit.location.name
%p
  %b Barcode:
  = image_tag @unit.barcode.url
%p
  %b Avatar:
  = @unit.avatar

= link_to 'Edit', edit_unit_path(@unit)
\|
= link_to 'Back', units_path

