%p#notice= notice

%h3= @location.name
%h5= "#{@location.units.active.count} active out of #{@location.units.count}  units"

%p
  %b Description:
  = @location.description

%table.table.table-striped.sortable
  %thead
    %th ID
    %th Details
    %th User
    %th Condition
    %th Is Active?
  %tbody
    - @location.units.each do |i|
      %tr
        %td= i.id
        %td= i.name
        %td= i.fullname
        %td= i.user.email
        %td= i.condition
        %td= i.is_active

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path

